Making number list

In [1]:
num = list(range(1, 11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Looping through lists

In [2]:
programming_languages = ['python', 'java', 'c']

for programming_language in programming_languages:
	print("I know how to code in " + programming_language.title() + " programming language.")

I know how to code in Python programming language.
I know how to code in Java programming language.
I know how to code in C programming language.

Range() function with for loop

In [3]:
for i in range(1,11):
	print(i)

1
2
3
4
5
6
7
8
9
10

Basic statistics with list

In [4]:
num = list(range(1,11))

print(num)
print(min(num))
print(max(num))
print(sum(num))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
10
55

List comprehension

In [5]:
# without list comprehension
cubes = []

for i in range(1,11):
	cube = i ** 3
	cubes.append(cube)

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
# with list comprehension

cubes = [cube ** 3 for cube in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Tuples

In [7]:
dimensions = (100, 20)

print(dimensions[0])
print(dimensions[1])

100
20